/* Universal selector */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: sans-serif;
}
/* container  */
#container {
  /* border: 1px solid black; */
  position: relative;
}
/* ball css */
#ball {
  height: 20px;
  width: 20px;
  /* border:1px solid black; */
  position: fixed;
  border-radius: 50%;
  background-color: brown;
  left: 60%;
  top: 20px;
}
/* bar-1 css */
#bar-1 {
  height: 20px;
  display: flex;
  justify-content: center;
  width: 150px;
  color: white;
  background-color: rgb(25, 1, 245);
  border-radius: 10px;
  /* border:1px solid black; */
  position: fixed;
  font-weight: bold;
  top: 0%;
  left: 50%;
}
/* bar 2 css */
#bar-2 {
  height: 20px;
  width: 150px;
  color: white;
  background-color: rgb(138, 4, 248);
  border-radius: 10px;
  /* border:1px solid black; */
  position: fixed;
  display: flex;
  justify-content: center;
  font-weight: bold;
  bottom: 0%;
  left: 50%;
}
